html,
body,
#root {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: cadetblue;
}
.wrapper ul {
  list-style-type: none;
}
.btn-add {
  font-size: 50px;
  float: right;
  user-select: none;
}
.sticker {
  padding: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
.sticker input {
  max-width: 100%;
}
.sticker span {
  word-break: break-all;
  user-select: none;
}
.sticker button {
  color: red;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  padding: 4px 7px 1px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: black;
  user-select: none;
}
